<!DOCTYPE html>
<html lang="en">
<head> 
    <meta charset="UTF-8"> 
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <title>Document</title>
</head>
<body> 
    <h1>Welcome, {{user.alias}}</h1> 
    <a href="/books/add">Add Book and Review</a> 
    <a href="/logout">Logout</a> 
    <h3>Recent Book Reviews:</h3> 
    {% for review in recent_reviews %} 
    Title<a href="/books/{{review.book.id}}">{{review.book.title}}</a> 
    <p>Rating: {{review.rating}}</p> 
    <p><a href="/users/{{review.user.id}}">{{review.user.name}}</a> says: {{review.description}}</p> 
    <p>Posted on: {{review.created_at}}</p> 
    {% endfor %} 
    <h2>Other Books with Reviews:</h2> 
    {% for book in books %} 
    <p><a href="/books/{{book.id}}">{{book.title}}</a></p> 
    {% endfor %}
</body>
</html>



