<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="/books">Home</a>
    <a href="/books/add">Add Book and Review</a> 
    <a href="/logout">Logout</a> 
    <h1>User Alias: {{user.alias}}</h1>
    <h1>Name: {{user.name}}</h1>
    <h1>Email: {{user.email}}</h1>
    <h1>Total Reviews: {{user.reviewers.count}}</h1>
    <div>
        <h3>Posted Reviews on the following books:</h3>
        {% for review in reviews %}
            <a href="/books/{{review.book.id}}">{{review.book.title}}</a>
        {% endfor %}
    </div>
</body>
</html>









